<div class="container jumbotron">
  <div class="row justify-content-md-center">
    <div class="col">
      <h3>
        <em>Employees</em>
      </h3>
    </div>
  </div>
  <table class="table table-responsive-sm table-sm table-striped table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th >Profile
        </th>
        <th >Employee&nbsp;Name
          <button class="btn btn-sm btn-primary " (click)="sortBy='name'" [class.active]="sortBy==='name'">
            <i class="glyphicon glyphicon-sort"></i>
          </button>
        </th>
        <th >
          <div>
            Job&nbsp;Title
            <button class="btn btn-sm btn-primary " (click)="sortBy='title'" [class.active]="sortBy==='title'">
              <i class="glyphicon glyphicon-sort"></i>
            </button>
          </div>
        </th>
        <th>
          <div class="float-right">
            <a title={{showTable}} class="btn btn-primary btn-sm" (click)="toggleData()">
              <i *ngIf="showData" class="glyphicon glyphicon-chevron-up"></i>
              <i *ngIf="!showData" class="glyphicon glyphicon-chevron-down"></i>
            </a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="showData">
      <tr *ngFor="let employee of employees" [routerLink]="['/employees', employee.id]" title="{{employee.name}}">
        <td>
          <img *ngIf="showImage && employee.profileImage" src={{employee.profileImage}} title={{employee.name}} alt={{employee.name}}
            >
        </td>
        <td id="tdName">{{employee.name}}</td>
        <td colspan="2" id="tdTitle">{{employee.title}} </td>

      </tr>
    </tbody>
  </table>


</div>
